<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/main.css">
        <title>My VueJS app</title>
    </head>
    <body>
        <div class="container" id="vueApp">
            <h1 class="welcome" v-if="name != ''">{{name}}'s ToDo List</h1>
            <h1 class="welcome" v-if="name == ''">Your ToDo List</h1>
            <div class="settingsBtn">
                <button @click="showSettingsPopup = true" class="btn">Settings</button>
                <transition name="fade" appear>
                    <div class='addPopup' v-if="showSettingsPopup" @click="showSettingsPopup = false">
                    </div>
                </transition>
                <transition name="slide" appear>
                    <div class="popup" v-if="showSettingsPopup">
                        <label class="switch" name="unfinishedSlider">
                            <input v-if="showUF == true" @click="hideUnfinished()" type="checkbox">
                            <input v-if="showUF == false" @click="hideUnfinished()" type="checkbox" checked>
                            <span class="slider"></span>
                        </label>
                        <span> - Hide Unfinished Tasks</span>
                        <br><br>
                        <label class="switch" name="finishedSlider">
                            <input v-if="showF == true" @click="hideFinished()" type="checkbox">
                            <input v-if="showF == false" @click="hideFinished()" type="checkbox" checked>
                            <span class="slider"></span>
                        </label>
                        <span> - Hide Finished Tasks</span>
                        <br><br>
                        <label class="switch" name="soundSlider">
                            <input v-if="playSound == false" @click="updateSound()" type="checkbox">
                            <input v-if="playSound == true" @click="updateSound()" type="checkbox" checked>
                            <span class="slider"></span>
                        </label>
                        <span> - Play Sound After Completing Task</span>
                    </div>
                </transition>
            </div>
            <br>
            <button @click="showAddPopup = true" class="btn">Add an Item</button>
            <transition name="fade" appear>
                <div class='addPopup' v-if="showAddPopup" @click="showAddPopup = false">
                </div>
            </transition>
            <transition name="slide" appear>
                <div class="popup" v-if="showAddPopup">
                    <h1>Add a Task</h1>
                    <h3 class="popupTaskName">Task Name</h3>
                    <input v-model="newTask" type="text" class="popupTextField" />
                    <button @click="addTask(); showAddPopup = false" class="btn">Add</button>
                </div>
            </transition>
            <h2 class="taskHeader">Tasks</h2>
            <ul class="taskContainer" v-for="x in tasks" v-bind:key="x.id">
                <p class="taskContainerUF" v-if="((x.completed == false && showUF == true) || (x.completed == true && showF == true)) && !x.completed">
                    <input v-if="!x.completed && playSound == false" @click="updateStatus(x)" type="checkbox"/>
                    <input v-if="!x.completed && playSound == true" @click="updateStatus(x), ding()" type="checkbox"/>
                    {{x.task}}
                    <button name="deleteBtn" @click="deleteTask(x)">Delete</button>
                </p>
                <p class="taskContainerF" v-if="((x.completed == false && showUF == true) || (x.completed == true && showF == true)) && x.completed">
                    <input v-if="x.completed" @click="updateStatus(x)" type="checkbox" checked/>
                    {{x.task}}
                    <button name="deleteBtn" @click="deleteTask(x)">Delete</button>
                </p>
            </ul>

        </div>


        <script src="js/vue.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>